@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}


.article-box {
    height: 280px;
}

.article-box .article-content {
    overflow-y: scroll;
}


.article-content h2{
    font-weight: 600;
}
.article-content .article-tag{
    font-weight: 500;
}


.articleImgContainer {
    min-width: 240px;
}

.articleImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .article-content p {
    max-height: 96px;
    overflow: hidden;
    position: relative;
    transition: .5s all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
} */

.overflowp {
    max-height: 96px;
    overflow: hidden;
    /* position: relative;
    transition: .5s all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden; */
}


.articleReadmore::after {
    content: '閱讀更多';
}

.readMore {
    display: none;
}

.readMore:checked~p {
    max-height: max-content;

    display: flex;
    -webkit-line-clamp: none;
    overflow: visible;
}

.readMore:checked~.articleReadmore::after {
    content: '收起';
}


@media (max-width: 600px) {
    .articleImgContainer {
        min-width: 160px;
    }
    .article-box {
        min-height: 250px;
        max-height: 250px;
    }
}